- name: Ensure backup directory exists
  ansible.builtin.file:
    path: "{{ backup_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Backup home directories  
  ansible.builtin.command: >
   rsync -a /home/{{ item }}/ {{ backup_dir }}/{{ item }}/
  loop: "{{ users_to_delete }}"