- name: Check for running processes for each user
  ansible.builtin.shell: "pgrep -u {{ item }}"
  register: user_processes
  ignore_errors: true
  loop: "{{ users_to_delete }}"
  loop_control:
    label: "{{ item }}"

- name: Fail if users have running processes
  ansible.builtin.fail:
    msg: "User {{ item.item }} has running processes: {{ item.stdout_lines }}"
  when: item.rc == 0
  loop: "{{ user_processes.results }}"