---
- name: Get existing system users
  ansible.builtin.getent:
    database: passwd

- name: Determine missing users
  ansible.builtin.set_fact:
    ansible_facts:
      missing_users: "{{ users_to_delete | difference(getent_passwd.keys() | list) }}"

- name: Log missing users
  ansible.builtin.debug:
    msg: "Missing users: {{ ansible_facts['missing_users'] }}"
  when: ansible_facts['missing_users'] | length > 0

- name: Fail if users do not exist
  ansible.builtin.fail:
    msg: >
      User deletion aborted.
      The following users do not exist: {{ ansible_facts['missing_users'] | join(', ') }}
  when: ansible_facts['missing_users'] | length > 0
