- name: Build unique list of required groups
  set_fact:
    required_groups: "{{ users | map(attribute='groups') | flatten | unique }}"

- name: Get existing system groups
  ansible.builtin.getent:
    database: group

- name: Determine missing groups
  set_fact:
    missing_groups: "{{ required_groups | difference(getent_group.keys() | list) }}"

- name: Log missing groups
  ansible.builtin.debug:
    msg: "Missing groups: {{ missing_groups }}"
  when: missing_groups | length > 0

- name: Fail if required groups do not exist
  ansible.builtin.fail:
    msg: >
      User creation aborted.
      The following groups do not exist: {{ missing_groups | join(', ') }}
  when: missing_groups | length > 0