- name: Create users
  ansible.builtin.user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    groups: "{{ item.groups | join(',') }}"
    append: true
    shell: /bin/bash
    create_home: true
    state: present
  loop: "{{ users }}"
  when: item.name not in ansible_facts["existing_users"]